<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Admin Dashboard</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

    <div layout:fragment="profile-name">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${user.username + ' (Administrator)'}"></span>
    </div>

    <section layout:fragment="sidebar-item" class="py-2">

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Management
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/admin/clients">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Clients</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/serviceProviders">
                <i class="fas fa-fw fa-tools"></i>
                <span>Service Providers</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/tasks">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Tasks</span></a>
        </li>


    </section>

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container-fluid">
            <div class="row row-cols-3 column-gap-1 row-gap-1">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            Pending Tasks
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            Completed Tasks
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            Cancelled Tasks
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            Clients
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            Service Providers
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>