<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Service Provider Management</title>
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
  <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${user.username + ' (Administrator)'}"></span>
  <img class="img-profile rounded-circle"
       src="/assets/img/undraw_profile_2.svg">
</div>

<!-- Sidebar Items-->
<section layout:fragment="sidebar-item" class="py-2">

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Management
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/admin/clients">
      <i class="fas fa-fw fa-user-tie"></i>
      <span>Clients</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/admin/serviceProviders">
      <i class="fas fa-fw fa-tools"></i>
      <span>Service Providers</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/tasks">
      <i class="fas fa-fw fa-briefcase"></i>
      <span>Tasks</span></a>
  </li>

</section>

<!-- Page Content-->
<section layout:fragment="body" class="py-3">
  <div class="container-fluid">

    <div class="card shadow mb-4">

      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Service Provider Management</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="SpTable" width="100%" cellspacing="0">

            <thead>
            <tr>
              <th>ServiceProvider ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Contact Number</th>
              <th>Business Name</th>
              <th class="center-element">Ratings</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="serviceProvider :${serviceProviders}">
              <td th:text="${serviceProvider.id}"></td>
              <td th:text="${serviceProvider.firstName}"></td>
              <td th:text="${serviceProvider.lastName}"></td>
              <td th:text="${serviceProvider.email}"></td>
              <td th:text="${serviceProvider.contactNumber}"></td>
              <td th:text="${serviceProvider.businessName}"></td>
              <td class="center-element">
                <a th:href="@{/client/serviceProviders/{serviceProviderId}/ratings(serviceProviderId=${serviceProvider.id})}"
                   title="View Ratings"
                   class="btn btn-secondary btn-circle btn-sm">
                  <i class="fas fa-star"></i>
                </a>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>

  </div>
  <script type="text/javascript" th:src="@{/vendor/datatables/jquery.dataTables.min.js}" defer></script>
  <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" defer></script>
  <script type="text/javascript" th:src="@{/js/clientTaskScripts.js}" defer></script>
</section>

</body>
</html>