<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Admin Dashboard</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

    <div layout:fragment="profile-name">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${user.username + ' (Administrator)'}"></span>
    </div>

    <section layout:fragment="sidebar-item" class="py-2">

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Management
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/admin/clients">
                <i class="fas fa-fw fa-user-tie"></i>
                <span>Clients</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/serviceProviders">
                <i class="fas fa-fw fa-tools"></i>
                <span>Service Providers</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/tasks">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Tasks</span></a>
        </li>


    </section>

    <!-- Page Content-->
    <section layout:fragment="body" class="px-3 py-1">
        <div class="row">

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-secondary shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Pending Tasks</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-warning shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Ongoing Tasks</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-success shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Completed Tasks</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-danger shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Cancelled Tasks</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-secondary shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Client Count</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">

                <!-- Collapsable Card Example -->
                <div class="card border-left-secondary shadow mt-4 mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#cancelledTasksCard" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Service Provider Count</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show">
                        <div class="card-body">
                            This is a collapsable card example using Bootstrap's built in collapse
                            functionality. <strong>Click on the card header</strong> to see the card body
                            collapse and expand!
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>
</html>