<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Task Offers</title>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${client.firstName + ' ' + client.lastName + ' (Client)'}"></span>
</div>

<div layout:fragment="view-profile">
    <a class="dropdown-item" href="/client/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
    </a>
</div>

<section layout:fragment="sidebar-item" class="py-2">

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="/client/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Tasks
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/client/tasks/new">
            <i class="fas fa-fw fa-plus"></i>
            <span>New Request</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" th:href="@{/client/tasks}">
            <i class="fas fa-fw fa-list"></i>
            <span>Task List</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/client/serviceProviders">
            <i class="fas fa-fw fa-users"></i>
            <span>Service Providers</span>
        </a>
    </li>

</section>

<!-- Page Content-->
<section layout:fragment="body" class="px-3 py-1">

    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" th:text="${'Offers for ' +task.title}"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="offerTable" STYLE="width='100%'; cellspacing='0'" >
                        <thead>
                        <tr>
                            <th>Price Offered</th>
                            <th>Description</th>
                            <th>Offered By</th>
                            <th>Status</th>
                            <th style="text-align: center;" >Action</th>
                        </tr>
                        </thead>
                        <tbody th:each="offer :${offers}">
                        <tr>
                            <td th:text="${offer.price}"></td>
                            <td th:text="${offer.description}"></td>
                            <td th:text="${offer.serviceProviderDto.firstName + ' ' +offer.serviceProviderDto.lastName}"></td>
                            <td th:text="${offer.status}"></td>
                            <td style="text-align: center; white-space: nowrap;">
                                <a th:href="@{/client/tasks/{taskId}/offers/{offerId}/accept(taskId=${task.id},offerId=${offer.id})}"
                                   class="btn btn-success btn-circle btn-sm"
                                   title="Accept Offer"
                                   th:classappend="${offer.status != 'OFFERED' ? 'disabled' : ''}"
                                >
                                    <i class="fas fa-check"></i>
                                </a>
                                <a th:href="@{/client/tasks/{taskId}/offers/{offerId}/reject(taskId=${task.id},offerId=${offer.id})}"
                                   class="btn btn-danger btn-circle btn-sm"
                                   title="Reject Offer"
                                   th:classappend="${offer.status != 'OFFERED' ? 'disabled' : ''}"
                                >
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/vendor/datatables/jquery.dataTables.min.js}" defer></script>
        <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" defer></script>
        <script type="text/javascript" th:src="@{/js/clientTaskScripts.js}" defer></script>

</section>

</body>
</html>