<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Client Dashboard</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

    <div layout:fragment="profile-name">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${client.firstName + ' ' + client.lastName + ' (Client)'}"></span>
    </div>

    <section layout:fragment="sidebar-item" class="py-2">

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/client/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Tasks
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/client/tasks/new">
                <i class="fas fa-fw fa-plus"></i>
                <span>New Request</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/client/tasks/board">
                <i class="fas fa-fw fa-th-large"></i>
                <span>Board</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/client/tasks">
                <i class="fas fa-fw fa-list"></i>
                <span>Task List</span></a>
        </li>

    </section>

    <!-- Page Content-->
    <section layout:fragment="body" class="px-3 py-1">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" th:text="'Welcome ' + ${client.firstName} + '!'"></h1>
        </div>

        <div class="row">
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${pendingTaskCount}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Ongoing Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${ongoingTaskCount}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-spinner fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Completed Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${completedTaskCount}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-check-square fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Cancelled Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${cancelledTaskCount}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-ban fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>
</html>