<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Edit Task</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${client.firstName + ' ' + client.lastName + ' (Client)'}"></span>
    <img class="img-profile rounded-circle"
         th:if="${client.profileImageFileName != null and not #strings.isEmpty(client.profileImageFileName)}"
         th:src="'/assets/profile-images/' + ${client.profileImageFileName}"
         alt="Profile Image">

    <img class="img-profile rounded-circle"
         th:if="${client.profileImageFileName == null or #strings.isEmpty(client.profileImageFileName)}"
         src="/assets/img/undraw_profile.svg"
         alt="Default Image">
</div>

<div layout:fragment="view-profile">
    <a class="dropdown-item" href="/client/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
    </a>
</div>

<section layout:fragment="sidebar-item" class="py-2">

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="/client/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Tasks
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/client/tasks/new">
            <i class="fas fa-fw fa-plus"></i>
            <span>New Request</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" th:href="@{/client/tasks}">
            <i class="fas fa-fw fa-list"></i>
            <span>Task List</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/client/serviceProviders">
            <i class="fas fa-fw fa-users"></i>
            <span>Service Providers</span>
        </a>
    </li>

</section>

<!-- Page Content-->
<section layout:fragment="body" class="px-3 py-1">

    <div class="container">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Rate Service Provider</h6>
            </div>
            <div class="card-body">

                <form class="rating"
                      th:action="@{/client/tasks/{taskId}/rate(taskId=${task.id})}"
                      th:object="${rating}" method="post">

                    <div class="d-flex justify-content-center mb-3">
                        <div style="width: 10rem; height: 10rem; overflow: hidden; border-radius: 50%; display: flex; justify-content: center; align-items: center; border: 2px solid black;">
                            <img style="width: 100%; height: 100%; object-fit: cover; "
                                 th:if="${serviceProvider.profileImageFileName != null and not #strings.isEmpty(serviceProvider.profileImageFileName)}"
                                 th:src="'/assets/profile-images/' + ${serviceProvider.profileImageFileName}"
                                 alt="Profile Image">

                            <img style="width: 100%; height: 100%; object-fit: cover; "
                                 th:if="${serviceProvider.profileImageFileName == null or #strings.isEmpty(serviceProvider.profileImageFileName)}"
                                 src="/assets/img/undraw_profile_3.svg"
                                 alt="Default Image">
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <b th:text="${serviceProvider.firstName} + ' ' + ${serviceProvider.lastName}"></b>
                    </div>

                    


                    <div class="form-group">
                        <label>Rate your Service Provider:</label>
                        <input type="number"
                               class="form-control"
                               placeholder="0-5"
                               min="0" max="5"
                               th:field="*{serviceProviderRating}"
                               required="required">
                    </div>

                    <div class="form-group">
                        <label for="description">Rating Description:</label>
                        <textarea type="text"
                                  class="form-control"
                                  th:field="*{serviceProviderRatingDescription}"
                                  required="required"
                                  id="description"
                        ></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Submit Rating
                    </button>
                </form>

            </div>
        </div>

    </div>

</section>

</body>
</html>