<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Profile</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          th:text="${serviceProvider.firstName + ' ' + serviceProvider.lastName + ' (ServiceProvider)'}"></span>
</div>


<!-- Sidebar Navigation -->
<section layout:fragment="sidebar-item" class="py-2">
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/serviceProvider/{id}(id=${serviceProviderId})/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Tasks
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/serviceProvider/tasks/new">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>New Request</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{serviceProvider/{id}(id=${serviceProviderId})/task}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Task List</span>
        </a>
    </li>
</section>
<!-- Page Content-->
<section layout:fragment="body" class="px-3 py-1">

    <div class="container">

        <div class="card shadow mb-4 mx-7">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Profile</h6>
            </div>
            <div class="card-body">

                <form role="form" method="post"
                      th:action="@{/serviceProvider/{serviceProviderId}/profile/save(serviceProviderId=${serviceProviderId})}"
                      th:object="${serviceProvider}">
                    <input type="hidden" th:field="*{firstName}">
                    <input type="hidden" th:field="*{lastName}">
                    <input type="hidden" th:field="*{email}">
                    <input type="hidden" th:field="*{contactNumber}">
                    <input type="hidden" th:field="*{businessName}">
                    <div class="form-group">
                        <label for="title">First Name</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               th:field="*{firstName}"
                               required="required"
                        >
                        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               th:field="*{lastName}"
                               required="required"
                        >
                        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger"
                           th:errors="*{lastName}"></p>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="email">Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   th:field="*{email}"
                                   required="required"
                            >
                            <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                        </div>

                        <div class="col-sm-6">
                            <label for="contactNumber">Contact Number</label>
                            <input type="text"
                                   class="form-control"
                                   id="contactNumber"
                                   th:field="*{contactNumber}"

                            >
                            <p th:if="${#fields.hasErrors('contactNumber')}" class="text-danger"
                               th:errors="*{contactNumber}"></p>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <label for="businessName">Business Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="businessName"
                                   th:field="*{businessName}"
                                   required="required"
                            >
                            <p th:if="${#fields.hasErrors('businessName')}" class="text-danger"
                               th:errors="*{businessName}"></p>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-secondary mx-2">Clear</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>

</body>
</html>