<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Service Provider Dashboard</title>
</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          th:text="${serviceProvider.firstName + ' ' + serviceProvider.lastName + ' (ServiceProvider)'}"></span>
</div>


<!-- Sidebar Navigation -->
<section layout:fragment="sidebar-item" class="py-2">
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/serviceProvider/dashboard}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Tasks
    </div>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/serviceProvider/tasks/ongoing-tasks}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>My Tasks</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/serviceProvider/tasks/pending-tasks}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Available Tasks</span>
        </a>
    </li>
</section>

<!-- Page Content-->
<section layout:fragment="body" class="py-5">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Service Provider Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Earnings
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalEarnings}">$40,000</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-money fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-secondary shadow h-100 py-2">
                        <a th:href="@{/serviceProvider/tasks/pending-tasks}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Pending Offers
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${pendingTaskCount}">18</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hourglass fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <a th:href="@{/serviceProvider/tasks/ongoing-tasks}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Ongoing Requests
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${ongoingTaskCount}">18</div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" th:style="|width: ${ongoingPercentage}%|"
                                             aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${ongoingPercentage}"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-spinner fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <a th:href="@{/serviceProvider/tasks/completed-tasks}">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Completed Requests
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${completedTaskCount}">18</div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" th:style="|width: ${completedPercentage}%|"
                                            aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${completedPercentage}"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-check-square fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        My Ratings</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    <a th:href="@{/serviceProvider/viewMyRatings}">View my ratings from Clients. &rarr;</a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-star fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-7">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="col-xl-12 col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="h2 mb-0 font-weight-bold text-gray-800">Personal
                                    Information
                                </div>


                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p><strong>First Name:</strong> <span
                                                th:text="${serviceProvider.firstName}"></span></p>
                                        <p><strong>Last Name:</strong> <span
                                                th:text="${serviceProvider.lastName}"></span></p>
                                        <p><strong>Email:</strong> <span th:text="${serviceProvider.email}"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p><strong>Contact Number:</strong> <span
                                                th:text="${serviceProvider.contactNumber}"></span></p>
                                        <p><strong>Business Name:</strong> <span
                                                th:text="${serviceProvider.businessName}"></span></p>
                                    </div>
                                    <td style="text-align: center">
                                        <a th:href="@{/serviceProvider/profile}"
                                           class="btn btn-warning btn-circle btn-sm">
                                            <i class="fas fa-pen"></i>
                                        </a>

                                    </td>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</section>


</body>
</html>
