<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Service Provider Task List</title>

    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/searchPanes.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/select.bootstrap4.min.css}" rel="stylesheet">

</head>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="profile-name">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          th:text="${serviceProvider.firstName + ' ' + serviceProvider.lastName + ' (ServiceProvider)'}"></span>
    <img class="img-profile rounded-circle"
         th:if="${serviceProvider.profileImageFileName != null and not #strings.isEmpty(serviceProvider.profileImageFileName)}"
         th:src="'/assets/profile-images/' + ${serviceProvider.profileImageFileName}"
         alt="Profile Image">

    <img class="img-profile rounded-circle"
         th:if="${serviceProvider.profileImageFileName == null or #strings.isEmpty(serviceProvider.profileImageFileName)}"
         src="/assets/img/undraw_profile_3.svg"
         alt="Default Image">
</div>

<div layout:fragment="view-profile">
    <a class="dropdown-item" href="/serviceProvider/profile">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Profile
    </a>
</div>


<!-- Sidebar Navigation -->
<section layout:fragment="sidebar-item" class="py-2">
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/serviceProvider/dashboard}">

            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Tasks
    </div>
    <li class="nav-item"
        th:classappend="${spTaskPage == 'myTasks' ? 'active' : ''}">
        <a class="nav-link" th:href="@{/serviceProvider/tasks/ongoing-tasks}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>My Tasks</span>
        </a>
    </li>
    <li class="nav-item"
        th:classappend="${spTaskPage == 'pending' ? 'active' : ''}">
        <a class="nav-link" th:href="@{/serviceProvider/tasks/pending-tasks}">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Available Tasks</span>
        </a>
    </li>
</section>

<!-- Page Content-->
<section layout:fragment="body" class="py-5">

    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Task List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <a class="btn btn-success" th:href="@{/serviceProvider/tasks/ongoing-tasks}">My Ongoing Tasks</a>
                    <a class="btn btn-primary" th:href="@{/serviceProvider/tasks/completed-tasks}">My Completed Tasks</a>
                    <table class="table table-bordered" id="tasksTable" STYLE="width='100%'; cellspacing='0'" >
                        <thead>
                        <tr>
                            <th>Task ID</th>
                            <th>Title</th>
                            <th>Descriptions</th>
                            <th>Budget</th>
                            <th>Created Date</th>
                            <th>Target Date</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Labels</th>
                            <th>Action</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="task :${taskList}">
                                <td th:text="${task.id}"></td>
                                <td th:text="${task.title}"></td>
                                <td th:text="${task.description}"></td>
                                <td th:text="${task.budget}"></td>
                                <td th:text="${task.createdDate}"></td>
                                <td th:text="${task.targetDate}"></td>
                                <td th:text="${task.street+', '+task.city+', '+task.postalCode}"></td>
                                <td th:text="${task.status}"></td>
                                <th:block th:if="${not #sets.isEmpty(task.labels)}" th:each="label : ${task.labels}">
                                    <td style="text-align:center;"><span class="badge badge-primary"
                                                                         th:text="${label.name}"></span></td>
                                </th:block>
                                <th:block th:unless="${not #sets.isEmpty(task.labels)}">
                                    <td></td>
                                </th:block>
                                <td style="text-align: center; white-space: nowrap;">
                                    <a th:href="@{/serviceProvider/tasks/{taskId}/offers(taskId=${task.id})}"
                                       title="Make New Offer"
                                       class="btn btn-info btn-circle btn-sm"
                                       th:classappend="${task.status != 'PENDING' ? 'd-none' : ''}">
                                        <i class="fas fa-handshake"></i>
                                    </a>
                                </td>
                                <td style="text-align: center; white-space: nowrap;">
                                    <a th:href="@{/serviceProvider/tasks/{taskId}/rate(taskId=${task.id})}"
                                       title="Rate Client"
                                       class="btn btn-info btn-circle btn-sm"
                                       th:classappend="${task.status == 'COMPLETED' && (task.rating == null || (task.rating != null && task.rating.clientRating == 0) )? '' : 'disabled'}">
                                        <i class="fas fa-star"></i>
                                    </a>

<!--                                    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                                        <div class="modal-dialog" role="document">-->
<!--                                            <div class="modal-content">-->
<!--                                                <div class="modal-header">-->
<!--                                                    <h5 class="modal-title" id="exampleModalLabel">Rate your Client</h5>-->
<!--                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                        <span aria-hidden="true">&times;</span>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                                <div class="modal-body">-->
<!--                                                    <form class="rating" th:action="@{/serviceProvider/tasks/{taskId}/rate(taskId=${task.id})}"  th:object="${rating}" method="post">-->
<!--                                                        <div class="form-group">-->

<!--                                                                <label for="rating" style="text-align: left;">Rate your Client:</label>-->
<!--                                                                <input type="number"-->
<!--                                                                       class="form-control"-->
<!--                                                                       id="rating"-->
<!--                                                                       placeholder="0-5"-->
<!--                                                                       min="0" max="5"-->
<!--                                                                       th:field="*{clientRating}"-->
<!--                                                                       required="required">-->

<!--                                                        </div>-->
<!--                                                        <div class="form-group">-->
<!--                                                            <div class="col-sm-12">-->
<!--                                                                <label>Rating Description:</label>-->
<!--                                                                <textarea type="text"-->
<!--                                                                          class="form-control custom-textarea"-->
<!--                                                                          th:field="*{clientRatingDescription}"-->
<!--                                                                          required="required"></textarea>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <button type="submit" class="btn btn-primary btn-user btn-block">-->
<!--                                                            Submit Rating-->
<!--                                                        </button>-->
<!--                                                    </form>-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/vendor/datatables/jquery.dataTables.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.searchPanes.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.select.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/searchPanes.bootstrap4.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/select.bootstrap4.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/serviceProviderScripts.js}" defer></script>

</section>


</body>
</html>
